body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0 1.5% 24px 1.5%;
}

.top-navbar {
    overflow: hidden;
    background-color: #302144;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;   
}

.top-navbar a {
    font-size: 18px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;

}

.top-navbar a:hover {
    background-color: #a53f5b;
    border-radius: 15px;
    text-decoration: none;
    color: #f2f2f2
}

.container
{
    padding: 15px;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    align-self: center;
    flex: 33.33%;
    padding: 3px;
}

#instructions {
    text-align: center;
    align-self: center;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    color: #f2f2f2;
    background-color: #592651;
    border-radius: 15px;
}

#disclaimer {
    font-size: 80%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#footer {
    text-align: center;
    align-self: center;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    background-color: #c57e0d;
    border-radius: 15px;
}

.firstColumn {
    width: 80%;
    padding: 0 0 0 0;
    float: left;
}

.secondColumn {
    width: 20%;
    padding: 0 10px 0 0;
    float: right;
}

@media only screen and (max-width: 800px) {

   .firstColumn {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .secondColumn {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    
}